*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.main
{
    min-height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    flex-direction: column;
    
}

.main header
{
    min-width: 100%; /* Se extiende al 100%*/
    padding: 20px;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 0;
    left: 0; 
    align-items: center;
}

.main header .logo
{
    max-width: 150px;
    margin-left: 60px;

}

.main header .navegacion li
{
    list-style: none; /*Quita viñetas bro*/
    text-decoration: none; 
}

.main header .navegacion li:hover a
{
    color: #be0000;
    transition: 0.5s;
}

.main header .navegacion li a
{
    text-decoration: none;
    position: relative;
    margin-right: 40px;   
    font-size: large;
    color: white;
    font-family: cursive;
    font-style: italic;
}

.main header .navegacion
{
    display: flex;
    flex-direction: row;
}

body
{
    margin: 0;
    min-width: 100vh;
    background: radial-gradient(circle at center, #4f87bd 0%, #0062be 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.main .content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-right: 200px;


}

.main .content .texto
{
    width: 100%;
    max-width: 600px;
}

.main .content .texto h2
{
    color: white;
    font-family: cursive;
    font-style: italic;
    font-size: 3rem;
    line-height: 1.4;
    margin: 30px 0px;

}

.main .content .texto p {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 30px;
    margin-bottom: 70px;
    justify-content: center;
    text-align: justify;
    max-width: 700px;

}

.main .content .texto .btnordenar
{
    padding: 20px 35px;
    background-color: white;
    border-radius: 50px;
    color: #0062be;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btnordenar:hover
{
    background-color: #494a4b;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
}

.main .content .lataPepsi
{
    max-width: 700px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-left: 200px;
    position: relative;
    padding-right: 100px;

}

